:root {
    --mainColor: #DF7539;
    --titleColor: #292929;
    --headerColor: #9D949733;

    --paragraphFontSize: 1em;
    --titleFontSize:2.5em;
    --36FontSize: 2.25em;
    --24FontSize: 1.5em;
    
    --workSansFont: "Work Sans", sans-serif;
    --zenAntiqueFont: "Zen Antique Soft", sans-serif;
  }

header{
    position: relative;
    background: rgba(157, 148, 151, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
header label .img1{
    /* color: var(--mainColor); */
}

.destinations h3{
    
    font-family: var(--zenAntiqueFont);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 35px;
    padding: 47px 0px 0px 16px;
    letter-spacing: -0.02em;
    color: var(--titleColor);
}

.destinations hr{
    outline: none;
    border: none;
    height: 5px;
    width: 100px;
    margin: 20px 0px 48px 16px;
    background-color: var(--mainColor);
    opacity: 1;
    border-radius: 5px;
}

.grid{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding-bottom: 126px;
}

.grid .grid__card{
    width: 295px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin: 0px auto;
}

.grid .grid__card h2{
    width: 100%;
    font-family: var(--workSansFont);
    font-style: normal;
    font-weight: 500;
    font-size: 1.875em;
    line-height: 35px;
    text-align: left;
    letter-spacing: -0.02em;
    padding: 10px;
}

@media (min-width: 767px){
    .destinations{
        padding: 0px 50px;
    }

    .destinations h3{
        font-size: 40px;
        line-height: 58px;
    }
    
    .grid{    
        width: 100%;
        max-width: 610px;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}