* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #DF7539;
  --titleColor: #292929;
  --paragraphFontSize: 1em;
  --titleFontSize:2.5em;
  --36FontSize: 2.25em;
  --24FontSize: 1.5em;
  --30FontSize: 1.875em;
  --workSansFont: "Work Sans", sans-serif;
  --zenAntiqueFont: "Zen Antique Soft", sans-serif;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
}

/* Header */
header {
  position: absolute;
  position: fixed;
  top: 0px;
  background: rgba(157, 148, 151, 0.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 16px 24px 16px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
  z-index: 20;
  z-index: 100;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 767px) {
  header {
    padding: 16px 50px 16px 50px;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 150px;
}

.logo h1 {
  color: rgb(212, 212, 212);
  display: inline-block;
}

.logo h1:hover {
  text-shadow: 0px 0px 6px rgb(255, 255, 255);
  color: white;
}

.links {
  width: 250px;
}

.links div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-family: var(--workSansFont);
  position: relative;
  transition: transform 0.15s ease;
}

.links a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #fff;
  transform: scale(0, 1);
}

.links a:hover {
  transform: scale(1.2);
}

.links a:hover::after {
  transform: scale(1, 1);
  transition: transform 0.15s ease;
}

header input {
  display: none;
}

header input:checked ~ .links {
  right: 0px;
}

header input:checked ~ label .img1 {
  display: none;
}

header input:checked ~ label .img2 {
  display: inline-block;
}

header label {
  position: relative;
  display: none;
  right: 20px;
  width: 30px;
  height: 47.619047px;
  transition: 1s ease;
  z-index: 30;
}
header label .img2 {
  position: fixed;
}

header label {
  width: 25px;
  height: 31.746px;
}
header label i {
  font-size: 2em;
  color: #fff;
}

header label img {
  position: absolute;
  top: 8.8px;
  left: 0px;
  width: 100%;
  z-index: 6;
}

header label .img2 {
  display: none;
}

@media (max-width: 900px) {
  .links {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .links div {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: black;
    background-color: var(--mainColor);
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 20;
    padding: 75px 25px;
  }

  .links div a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    margin: 26px 0px;
  }

  .links div a:first-child {
    margin-top: 20px;
  }

  header label {
    display: inline-block;
  }

  .links a:hover {
    transform: scale(1.2);
  }
}
@media (max-width: 440px) {
  .logo img {
    width: 120px;
  }

  .logo h1 {
    font-size: 26px;
  }

  header label {
    width: 25px;
    height: 31.746px;
  }
  header label i {
    font-size: 2em;
    color: #fff;
  }

  header label img {
    position: absolute;
    top: 5.867px;
  }
}
@media (max-width: 345px) {
  .logo img {
    width: 100px;
  }

  .logo h1 {
    font-size: 24px;
  }

  header label {
    width: 15px;
    height: 23.809px;
  }

  header label img {
    position: absolute;
    top: 5.867px;
  }
}
@media (min-width: 1240px) {
  header {
    justify-content: center;
    padding: 0;
  }
  header nav {
    padding: 16px 100px 16px 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1240px;
    max-width: 1440px;
  }
  header nav .links {
    width: auto;
    padding: 0;
  }
  header nav .links div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav .links div a {
    margin-left: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #fff;
  }
  header nav .links div a:first-child {
    margin: 0;
  }
}
@media (min-width: 1366px) {
  header {
    justify-content: center;
    padding: 0;
  }
  header nav {
    padding: 16px 100px 16px 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1240px;
    max-width: 1440px;
  }
  header nav .links {
    width: auto;
    padding: 0;
  }
  header nav .links div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header nav .links div a {
    margin-left: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #fff;
  }
  header nav .links div a:first-child {
    margin: 0;
  }
}
/* Front section */
.front {
  height: 844px;
  /* responsive tablet 834px o 767px */
}
.front .carousel-item img {
  width: 100%;
  height: 844px;
  object-fit: cover;
  z-index: -1;
}
.front .front-container {
  width: 100%;
  position: absolute;
  z-index: 10;
  height: 844px;
  padding: 221px 26px 208px 26px;
  background-color: rgba(0, 0, 0, 0.2666666667);
}
.front .front-container h1 {
  color: #fff;
  font-size: var(--titleFontSize);
  font-family: "Zen Antique Soft", serif;
  font-weight: 100;
  font-style: normal;
  line-height: 58px;
  letter-spacing: -0.02em;
  max-width: 300px;
}
.front .front-container hr {
  width: 200px;
  outline: none;
  border: none;
  height: 5px;
  color: var(--mainColor);
  border-radius: 5px;
  opacity: 1;
  margin: 21px 0px;
}
.front .front-container p {
  color: #fff;
  font-weight: 300;
  font-size: var(--paragraphFontSize);
  font-family: var(--workSansFont);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.front .front-container h3 {
  color: #fff;
  margin: 44px 0px;
  font-size: var(--paragraphFontSize);
  font-family: var(--workSansFont);
  font-weight: 500;
  line-height: 24px;
}
.front .front-container a {
  border-radius: 50px;
  text-decoration: none;
  color: var(--titleColor);
  background-color: var(--mainColor);
  font-size: var(--24FontSize);
  padding: 15px 30px;
  font-family: "Roboto", sans-serif;
  transition: var(--transition);
}
.front .front-container a i {
  position: relative;
  top: 2px;
}
.front .front-container a:hover {
  background-color: #fff;
  color: var(--mainColor);
}
.front .desktop-front {
  display: none;
}
.front .mobile-front {
  display: flex;
  width: 100%;
  z-index: -1;
  height: 844px;
}
.front .mobile-front img {
  object-fit: cover;
}
@media (min-width: 767px) {
  .front .front-container {
    position: absolute;
    z-index: 10;
    height: 844px;
    padding: 221px 26px 208px 60px;
    background-color: rgba(0, 0, 0, 0.1333333333);
  }
  .front .front-container h1 {
    font-size: 64px;
    line-height: 93px;
    max-width: 100%;
  }
  .front .front-container p {
    font-size: 30px;
    line-height: 35px;
  }
  .front .front-container h3 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (min-width: 1240px) {
  .front {
    height: 886px;
  }
  .front .carousel-item img {
    width: 100%;
    height: 886px;
  }
  .front .front-container {
    padding: 0;
    height: 886px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2666666667);
  }
  .front .front-container .front {
    width: 100%;
    min-width: 1240px;
    max-width: 1440px;
    height: 886px;
    padding: 221px 26px 208px 110px;
  }
  .front .front-container .front h1 {
    font-size: 4em;
    line-height: 93px;
    max-width: 694px;
  }
  .front .front-container .front p {
    font-size: var(--24FontSize);
    line-height: 28px;
    max-width: 620px;
  }
  .front .front-container .front h3 {
    font-size: var(--24FontSize);
    line-height: 28.15px;
  }
  .front .mobile-front {
    display: none;
  }
  .front .desktop-front {
    display: block;
  }
  .front .desktop-front .carousel-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -4em;
    z-index: 99;
    position: relative;
  }
  .front .desktop-front .carousel-nav a {
    margin: 0em 0.5em;
    background-color: rgba(0, 0, 0, 0.4666666667);
    border-radius: 50%;
  }
  .front .desktop-front .carousel-nav a:nth-child(1) {
    margin-left: 5px;
  }
  .front .desktop-front .carousel-nav a i {
    font-size: 2em;
    color: #fff;
    position: relative;
    top: 2px;
    padding: 0em 0.1em;
  }
}
@media screen and (min-width: 1366px) {
  .front {
    height: 886px;
  }
  .front .carousel-item img {
    width: 100%;
    height: 886px;
  }
  .front .front-container {
    padding: 0;
    height: 886px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .front .front-container .front {
    width: 100%;
    min-width: 1240px;
    max-width: 1440px;
    height: 886px;
    padding: 221px 26px 208px 110px;
  }
  .front .front-container .front h1 {
    font-size: 4em;
    line-height: 93px;
    max-width: 694px;
  }
  .front .front-container .front p {
    font-size: var(--24FontSize);
    line-height: 28px;
    max-width: 620px;
  }
  .front .front-container .front h3 {
    font-size: var(--24FontSize);
    line-height: 28.15px;
  }
}

/* Foundress section */
.foundress {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 103px;
}
.foundress img {
  width: 100%;
}
.foundress .foundress__detail {
  padding: 41px 25px 139px 16px;
}
.foundress .foundress__detail h2 {
  font-size: var(--36FontSize);
  width: 100%;
  font-family: "Zen Antique Soft", serif;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.02em;
  color: var(--titleColor);
}
.foundress .foundress__detail hr {
  width: 85px;
  outline: none;
  border: none;
  height: 5px;
  color: var(--mainColor);
  opacity: 1;
  border-radius: 5px;
  margin: 31px 0px;
}
.foundress .foundress__detail p {
  font-family: var(--workSansFont);
  font-size: var(--paragraphFontSize);
  line-height: 19px;
  letter-spacing: -0.02em;
}
@media (min-width: 767px) {
  .foundress .foundress__detail {
    padding: 94px 60px 89px 50px;
  }
  .foundress .foundress__detail h2 {
    font-size: 60px;
    line-height: 87px;
  }
}
@media (min-width: 1240px) {
  .foundress {
    justify-content: center;
    width: 100%;
    margin-bottom: 64px;
  }
  .foundress .foundress__container {
    display: flex;
    flex-wrap: nowrap;
    min-width: 1240px;
    max-width: 1440px;
    width: 100%;
  }
  .foundress .foundress__container img {
    width: 100%;
    width: 692px;
    height: 897px;
  }
  .foundress .foundress__container .foundress__detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .foundress .foundress__container .foundress__detail .foundress__content h2 {
    width: 100%;
  }
  .foundress .foundress__container .foundress__detail .foundress__content hr {
    width: 200px;
  }
  .foundress .foundress__container .foundress__detail .foundress__content p {
    width: 100%;
    max-width: 610px;
    font-size: var(--24FontSize);
    line-height: 26px;
  }
}
@media (min-width: 1366px) {
  .foundress {
    justify-content: center;
    width: 100%;
    margin-bottom: 64px;
  }
  .foundress .foundress__container {
    display: flex;
    flex-wrap: nowrap;
    min-width: 1240px;
    max-width: 1440px;
    width: 100%;
  }
  .foundress .foundress__container img {
    width: 100%;
    width: 692px;
    height: 897px;
  }
  .foundress .foundress__container .foundress__detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .foundress .foundress__container .foundress__detail .foundress__content h2 {
    width: 100%;
  }
  .foundress .foundress__container .foundress__detail .foundress__content hr {
    width: 200px;
  }
  .foundress .foundress__container .foundress__detail .foundress__content p {
    width: 100%;
    max-width: 610px;
    font-size: var(--24FontSize);
    line-height: 26px;
  }
}

/* Services section */
.services {
  background-color: var(--mainColor);
  padding: 71px 12px 81px 16px;
}
.services h3 {
  font-family: "Zen Antique Soft", serif;
  font-style: normal;
  font-weight: 100;
  font-size: var(--36FontSize);
  line-height: 35px;
  letter-spacing: -0.02em;
  color: var(--titleColor);
}
.services hr {
  width: 85px;
  outline: none;
  border: none;
  height: 5px;
  color: #fff;
  opacity: 1;
  border-radius: 5px;
  margin: 20px 0px 123px 0px;
}
.services .card-container .services__card {
  background-color: #fff;
  padding: 60px 30px 51px 30px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  text-align: center;
  max-width: 400px;
  height: 400px;
}
.services .card-container .services__card img {
  width: 66px;
  height: 66px;
  margin-bottom: 23px;
}
.services .card-container .services__card h3 {
  font-family: var(--workSansFont);
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 16px;
}
.services .card-container .services__card p {
  font-family: var(--workSansFont);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000;
}
@media (min-width: 767px) {
  .services {
    padding: 71px 50px 81px 50px;
  }
  .services h3 {
    font-size: 40px;
    line-height: 58px;
  }
  .services .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1240px) {
  .services {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .services .services__content {
    display: flex;
    flex-wrap: wrap;
    min-width: 1240px;
    max-width: 1440px;
    width: 100%;
    padding: 0px 100px;
  }
  .services .services__content h3 {
    width: 100%;
    font-size: 40px;
    line-height: 58px;
  }
  .services .services__content hr {
    width: 200px;
    margin: 20px 0px 101px 0px;
  }
  .services .services__content .card-container {
    width: 100%;
    justify-content: space-between;
    max-width: 1240px;
  }
  .services .services__content .card-container .services__card {
    width: 334px;
    height: 334px;
  }
  .services .services__content .card-container .services__card h3 {
    padding: 0px 70px;
    font-size: 25.1129px;
    line-height: 29px;
  }
  .services .services__content .card-container .services__card p {
    font-size: 13.3935px;
    line-height: 16px;
    padding: 0px 20px;
  }
}
@media (min-width: 1440px) {
  .services .services__content {
    display: flex;
    flex-wrap: wrap;
    min-width: 1440px;
    max-width: 1440px;
    width: 100%;
    padding: 0px 100px;
  }
  .services .services__content h3 {
    width: 100%;
    font-size: 40px;
    line-height: 58px;
  }
  .services .services__content hr {
    width: 200px;
    margin: 20px 0px 101px 0px;
  }
  .services .services__content .card-container {
    width: 100%;
    justify-content: space-between;
  }
  .services .services__content .card-container .services__card {
    margin: 0;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
  }
  .services .services__content .card-container .services__card h3 {
    padding: 0px 70px;
    font-size: 30px;
    line-height: 35px;
  }
  .services .services__content .card-container .services__card p {
    font-size: var(--paragraphFontSize);
    line-height: 19px;
    padding: 0px 30px;
  }
}

/* Trajectory section */
.trajectory {
  padding: 148px 12px 84px 16px;
  border-bottom: 10px solid var(--mainColor);
  border-top: 10px solid var(--mainColor);
}
.trajectory h2 {
  font-family: "Zen Antique Soft", serif;
  font-size: var(--titleFontSize);
  font-style: normal;
  font-weight: 100;
  line-height: 58px;
  color: var(--titleColor);
}
.trajectory hr {
  width: 85px;
  outline: none;
  border: none;
  height: 5px;
  color: var(--mainColor);
  opacity: 1;
  border-radius: 5px;
  margin: 20px 0px 101px 0px;
}
.trajectory .card-container .trajectory__card {
  background-color: var(--mainColor);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.trajectory .card-container .trajectory__card h2 {
  font-family: var(--workSansFont) !important;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 113px;
  text-align: center;
  letter-spacing: -0.02em;
  width: 100%;
}
.trajectory .card-container .trajectory__card p {
  font-family: var(--workSansFont);
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  padding: 0px 64px;
}
@media (min-width: 767px) {
  .trajectory {
    padding: 148px 50px 102px 50px;
  }
  .trajectory h2 {
    font-size: 40px;
    line-height: 58px;
  }
  .trajectory .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .trajectory .card-container .trajectory__card {
    width: 400px;
  }
}
@media (min-width: 1240px) {
  .trajectory {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .trajectory .trayectory__content {
    display: flex;
    flex-wrap: wrap;
    min-width: 1240px;
    max-width: 1440px;
    width: 100%;
    padding: 0px 100px;
  }
  .trajectory .trayectory__content h2 {
    width: 100%;
    font-size: 40px;
    line-height: 58px;
  }
  .trajectory .trayectory__content hr {
    width: 200px;
  }
  .trajectory .trayectory__content .card-container {
    width: 100%;
    justify-content: space-between;
  }
  .trajectory .trayectory__content .card-container .trajectory__card {
    margin: 0;
    max-width: 334px;
    height: 334px;
  }
  .trajectory .trayectory__content .card-container .trajectory__card h2 {
    font-family: var(--workSansFont) !important;
    font-style: normal;
    font-weight: 300;
    font-size: 75px;
    line-height: 113px;
    text-align: center;
    letter-spacing: -0.02em;
    width: 100%;
  }
  .trajectory .trayectory__content .card-container .trajectory__card p {
    padding: 0px 75px;
    text-align: center;
  }
  .trajectory .trayectory__content .card-container .trajectory__card .countries {
    padding: 0px 55px;
  }
}
@media (min-width: 1440px) {
  .trajectory .trayectory__content {
    display: flex;
    flex-wrap: wrap;
    min-width: 1440px;
    max-width: 1440px;
    width: 100%;
    padding: 0px 100px;
  }
  .trajectory .trayectory__content .card-container .trajectory__card {
    width: 400px;
    max-width: 400px;
    height: 400px;
  }
  .trajectory .trayectory__content .card-container .trajectory__card h2 {
    font-family: var(--workSansFont) !important;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 113px;
    text-align: center;
    letter-spacing: -0.02em;
    width: 100%;
  }
  .trajectory .trayectory__content .card-container .trajectory__card p {
    padding: 0px 100px;
  }
  .trajectory .trayectory__content .card-container .trajectory__card .countries {
    padding: 0px 55px;
  }
}

/* customers section */
.customers-imgs-container .curstomers-imgs {
  padding: 0px 0px 0px 16px;
  overflow-x: hidden;
}
.customers-imgs-container .curstomers-imgs h3 {
  padding: 47px 0px 0px 0px;
}
.customers-imgs-container .curstomers-imgs hr {
  margin: 20px 0px 48px 0px;
}
.customers-imgs-container .curstomers-imgs .slick-prev {
  left: 2em;
  font-size: 0.15em;
  z-index: 10;
}
.customers-imgs-container .curstomers-imgs .slick-prev:before {
  font-size: 30px;
}
.customers-imgs-container .curstomers-imgs .slick-next {
  right: 2em;
  font-size: 1.2em;
}
.customers-imgs-container .curstomers-imgs .slick-next:before {
  font-size: 30px;
}
@media (min-width: 767px) {
  .customers-imgs-container .curstomers-imgs {
    padding: 0px 0px 0px 50px;
  }
  .customers-imgs-container .curstomers-imgs h3 {
    font-size: 40px;
    line-height: 58px;
  }
  .customers-imgs-container .curstomers-imgs .slick-prev {
    left: 4em;
    font-size: 0.15em;
    z-index: 10;
  }
  .customers-imgs-container .curstomers-imgs .slick-prev:before {
    font-size: 30px;
  }
  .customers-imgs-container .curstomers-imgs .slick-next {
    right: 2.7em;
    font-size: 1.2em;
  }
  .customers-imgs-container .curstomers-imgs .slick-next:before {
    font-size: 30px;
  }
}
@media (min-width: 1240px) {
  .customers-imgs-container .curstomers-imgs {
    display: flex;
    flex-wrap: wrap;
    min-width: 1240px;
    max-width: 1440px;
    width: 100%;
    padding: 0px 100px;
    padding: 16px 100px 0px 100px;
    margin: 0px auto;
  }
  .customers-imgs-container .curstomers-imgs h3 {
    width: 100%;
    font-size: 40px;
  }
  .customers-imgs-container .curstomers-imgs .slick-next {
    right: 1.5em;
    font-size: 1.2em;
  }
  .customers-imgs-container .curstomers-imgs .slick-next:before {
    font-size: 30px;
  }
  .customers-imgs-container .curstomers-imgs .customersImgsCarousel {
    width: 100%;
    margin-bottom: 50px;
  }
  .customers-imgs-container .curstomers-imgs .customersImgsCarousel .img__item img {
    width: 96%;
  }
}

.customers {
  padding: 101px 0px 104px 16px;
  overflow-x: hidden;
}
.customers .customers__content h2 {
  font-family: "Zen Antique Soft", serif;
  font-style: normal;
  font-weight: 100;
  font-size: var(--24FontSize);
  line-height: 52px;
  letter-spacing: -0.02em;
  color: var(--titleColor);
}
.customers .customers__content hr {
  width: 85px;
  outline: none;
  border: none;
  height: 5px;
  color: var(--mainColor);
  opacity: 1;
  border-radius: 5px;
  margin: 20px 0px 64px 0px;
}
.customers .customers__content .customersCarousel .carousel__item p {
  background-color: var(--mainColor);
  font-family: var(--workSansFont);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  border-radius: 5px 5px 0px 0px;
  padding: 0px 27px;
  width: 355px;
  height: 300px;
  display: flex;
  align-items: center;
}
.customers .customers__content .customersCarousel .carousel__item img {
  position: relative;
  top: -17px;
  left: 20px;
}
.customers .customers__content .customersCarousel .carousel__item h3 {
  font-family: var(--workSansFont);
  font-style: normal;
  font-weight: 500;
  font-size: var(--30FontSize);
  line-height: 35px;
  color: var(--mainColor);
}
@media (min-width: 767px) {
  .customers {
    padding: 101px 0px 104px 50px;
  }
  .customers .customers__content h2 {
    font-size: 40px;
    line-height: 58px;
  }
}
@media (min-width: 1240px) {
  .customers {
    display: flex;
    flex-wrap: wrap;
    min-width: 1240px;
    max-width: 1440px;
    width: 100%;
    padding: 0px 100px 250px 100px;
    margin: 0px auto;
  }
  .customers .customers__content {
    display: flex;
    flex-wrap: wrap;
    min-width: 1240px;
    max-width: 1440px;
    width: 100%;
    padding: 0;
  }
  .customers .customers__content h2 {
    width: 100%;
  }
  .customers .customers__content .customersCarousel {
    width: 100%;
  }
  .customers .customers__content .customersCarousel .carousel__item p {
    width: 500px;
  }
}

/* contact section */
.contact {
  padding: 100px 0px 123px 0px;
}
.contact .contact__intro {
  padding-bottom: 80px;
}
.contact .contact__intro h4 {
  font-family: "Zen Antique Soft", serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25em;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--titleColor);
  padding: 0px 35px;
}
.contact .contact__intro hr {
  width: 180px;
  outline: none;
  border: none;
  height: 5px;
  color: var(--mainColor);
  opacity: 1;
  border-radius: 5px;
  margin: 16px auto 16px auto;
}
.contact .contact__form {
  padding: 0px 14px;
}
.contact .contact__form input {
  width: 100%;
  outline: none;
  margin-bottom: 20px;
  padding: 0.5em;
  border: 2px solid #9D9497;
  border-radius: 5px;
  font-family: var(--workSansFont);
  font-style: normal;
  font-weight: 300;
  font-size: var(--24FontSize);
  line-height: 28px;
  letter-spacing: -0.02em;
  font-size: var(--24FontSize);
}
.contact .contact__form input::placeholder {
  color: #000000;
}
.contact .contact__form input[type=submit] {
  margin: 0;
  padding: 10px;
  background-color: var(--mainColor);
  color: #000;
  border: none;
  transition: transform 0.15s ease;
}
.contact .contact__form input[type=submit]:hover {
  background-color: #BB561E;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
}
.contact .contact__form textarea {
  resize: none;
  outline: none;
  width: 100%;
  min-height: 248px;
  margin-bottom: 20px;
  padding: 0.5em;
  border: 2px solid #9D9497;
  border-radius: 5px;
  font-family: var(--workSansFont);
  font-style: normal;
  font-weight: 300;
  font-size: var(--24FontSize);
  line-height: 28px;
  letter-spacing: -0.02em;
}
.contact .contact__form textarea::placeholder {
  color: #000000;
}
@media (min-width: 767px) {
  .contact .contact__intro h4 {
    font-size: 32px;
    line-height: 46px;
    padding: 0px 172px;
  }
  .contact .contact__form {
    padding: 0px 50px;
  }
}
@media (min-width: 1240px) {
  .contact h4 {
    max-width: 820px;
    padding: 0px 50px;
    margin: 0px auto;
    font-size: 2em;
    line-height: 46px;
  }
  .contact .contact__form {
    max-width: 820px;
    padding: 0;
    margin: 0px auto;
    display: flex;
    width: 100%;
  }
  .contact .contact__form input {
    max-width: 100%;
  }
  .contact .contact__form input:nth-child(1) {
    margin-right: 15px;
  }
  .contact .contact__form input:nth-child(3) {
    margin-right: 15px;
  }
  .contact .contact__form input[type=submit] {
    width: 100%;
    max-width: 820px;
  }
}
@media (min-width: 1366px) {
  .contact h4 {
    max-width: 820px;
    padding: 0px 50px;
    margin: 0px auto;
    font-size: 2em;
    line-height: 46px;
  }
  .contact .contact__form {
    max-width: 820px;
    padding: 0;
    margin: 0px auto;
    display: flex;
    width: 100%;
  }
  .contact .contact__form input {
    max-width: 100%;
  }
  .contact .contact__form input:nth-child(1) {
    margin-right: 15px;
  }
  .contact .contact__form input:nth-child(3) {
    margin-right: 15px;
  }
  .contact .contact__form input[type=submit] {
    width: 100%;
    max-width: 820px;
  }
}

/* footer section */
footer {
  padding: 16px 16px 20px 16px;
  background-color: var(--mainColor);
}
footer .top-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
footer .top-footer .social-media label {
  font-family: var(--workSansFont);
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
}
footer .top-footer .social-media img {
  margin-left: 15px;
}
footer hr {
  color: var(--titleColor);
  width: 100%;
  margin: 30px 0px 46px 0px;
}
footer h3 {
  font-family: var(--workSansFont);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: var(--titleColor);
}
footer .contact-info .contact-info__item {
  display: flex;
  width: 100%;
  margin: 25px 0px;
  align-items: center;
}
footer .contact-info .contact-info__item img {
  margin-right: 18px;
}
footer .contact-info .contact-info__item h4 {
  display: flex;
  width: 100%;
  margin-top: 7px;
  align-items: center;
  font-family: var(--workSansFont);
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: var(--titleColor);
}
footer .contact-info .contact-info__item:last-child {
  margin: 0;
}
@media (min-width: 767px) {
  footer {
    padding: 16px 50px 20px 50px;
  }
}
@media (min-width: 1240px) {
  footer {
    padding: 0;
  }
  footer .footer__container {
    padding: 60px 100px 60px 100px;
    min-width: 1240px;
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
  }
  footer .footer__container .top-footer .social-media label {
    font-size: var(--24FontSize);
    line-height: 28px;
  }
  footer .footer__container .top-footer .social-media img {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    position: relative;
    top: -5px;
  }
  footer .footer__container h3 {
    font-size: var(--24FontSize);
    line-height: 26px;
  }
  footer .footer__container .contact-info .contact-info__item img {
    margin-right: 49px;
  }
  footer .footer__container .contact-info .contact-info__item h4 {
    font-size: var(--24FontSize);
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
  }
}
@media (min-width: 1366px) {
  footer {
    padding: 0;
  }
  footer .footer__container {
    padding: 60px 100px 60px 100px;
    min-width: 1240px;
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
  }
  footer .footer__container .top-footer .social-media label {
    font-size: var(--24FontSize);
    line-height: 28px;
  }
  footer .footer__container .top-footer .social-media img {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    position: relative;
    top: -5px;
  }
  footer .footer__container h3 {
    font-size: var(--24FontSize);
    line-height: 26px;
  }
  footer .footer__container .contact-info .contact-info__item img {
    margin-right: 49px;
  }
  footer .footer__container .contact-info .contact-info__item h4 {
    font-size: var(--24FontSize);
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
  }
}

.dinamicHeader {
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.titleColor {
  color: var(--titleColor) !important;
}

/*# sourceMappingURL=styles.css.map */
