:root {
    --mainColor: #DF7539;
    --titleColor: #292929;
    --headerColor: #9D949733;

    --paragraphFontSize: 1em;
    --titleFontSize:2.5em;
    --36FontSize: 2.25em;
    --24FontSize: 1.5em;
    
    --workSansFont: "Work Sans", sans-serif;
    --zenAntiqueFont: "Zen Antique Soft", sans-serif;
}

body{
    overflow-x: hidden;
}

header{
    position: relative;
    background: rgba(157, 148, 151, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.us h3{
    
    font-family: var(--zenAntiqueFont);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 35px;
    padding: 47px 0px 0px 16px;
    letter-spacing: -0.02em;
    color: var(--titleColor);
}

.us hr{
    outline: none;
    border: none;
    height: 5px;
    width: 100px;
    margin: 20px 0px 48px 16px;
    background-color: var(--mainColor);
    opacity: 1;
    border-radius: 5px;
}

.us .us__main{
    overflow-x: hidden;
}

.us .us__main img{
    margin-bottom: 20px;
}

.us .us__main p{
    padding: 0px 16px 110px 16px;
    font-family: var(--workSansFont);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: var(--titleColor);
}


@media (min-width: 767px){
    .us{
        padding: 0px 50px;
    }
    .us h3{
        font-size: 40px;
        line-height: 58px;
    }
    .us .us__main p{
        font-size: 24px;
        line-height: 26px;
    }
    .us .us__main img{
        width: 100%;
    }
}

@media (min-width: 1240px){
    header nav .links div a {
        color: var(--titleColor);
    }
    .us{
        max-width: 1440px;
        padding: 16px 100px 148px 100px;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
    }
    .us h3{
        width: 100%;
    }

    .us .us__main{
        display: flex;
    }

    .us .us__main img{
        width: 505px;
        margin-right: 75px;
    }
    .us .us__main p{
        font-size: 24px;
        line-height: 26px;
    }
    .us hr{
        width: 200px;
    }
}
