*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}

:root{
    --mainColor: #DF7539;
    --titleColor: #292929;
    --paragraphFontSize: 1em;
    --titleFontSize:2.5em;
    --36FontSize: 2.25em;
    --24FontSize: 1.5em;
    --workSansFont: 'Work Sans', sans-serif;
    --znAntiqueFont: 'Zen Antique Soft', sans-serif;
}

/* Front section */
.front{
    background-color: transparent;
    height: 844px;
    max-width: 428px;
    .carousel-item{
        img{
            width: 100%;
            height: 844px;
            object-fit: cover;
            z-index: -1;
        }
    }
    .front-container{
        position: absolute;
        z-index: 10;
        height: 844px;
        padding: 221px 26px 208px 26px;
        background-color: #0002;
        h1{
            color: #fff;
            font-size: var(--titleFontSize);
            font-family: 'Zen Antique Soft';
            font-style: normal;
            font-weight: 400;
            line-height: 58px;
            letter-spacing: -0.02em;
            max-width: 300px;
        }
        hr{
            width: 200px;
            outline: none;
            border: none;
            height: 5px;
            color: var(--mainColor);
            border-radius: 5px;
            opacity: 1;
            margin: 21px 0px;
        }
        p{
            color: #fff;
            font-weight: 300;
            font-size: var(--paragraphFontSize);
            font-family: var(--workSansFont);
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
        }
        h3{
            color: #fff;
            margin: 44px 0px;
            font-size: var(--paragraphFontSize);
            font-family: var(--workSansFont);
            font-weight: 500;
            line-height: 24px;
        }
        a{
            border-radius: 50px;
            text-decoration: none;
            color: var(--titleColor);
            background-color: var(--mainColor);
            font-size: 24px;
            padding: 15px 30px;
            font-family: 'Roboto', sans-serif;
            i{
                position: relative;
                top: 2px;
            }
        }
    }
}

/* Foundress section */
.foundress{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 103px;
    img{
        width: 100%;
    }
    .foundress__detail{
        padding: 41px 25px 139px 16px;
        h2{
            font-size: var(--36FontSize);
            width: 100%;
            font-family: 'Zen Antique Soft';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 52px;
            letter-spacing: -0.02em;
            color: var(--titleColor);
        }
        hr{
            width: 85px;
            outline: none;
            border: none;
            height: 5px;
            color: var(--mainColor);
            opacity: 1;
            border-radius: 5px;
            margin: 31px 0px;
        }
        p{
            font-family: var(--workSansFont);
            font-size: var(--paragraphFontSize);
            line-height: 19px;
            letter-spacing: -0.02em;
        }
    }
}

/* Services section */
.services{
    background-color: var(--mainColor);
    padding: 71px 12px 81px 16px;
    h3{
        font-family: 'Zen Antique Soft';
        font-style: normal;
        font-weight: 400;
        font-size: var(--24FontSize);
        line-height: 35px;
        letter-spacing: -0.02em;
        color: var(--titleColor)
    }
    hr{
        width: 85px;
        outline: none;
        border: none;
        height: 5px;
        color: #fff;
        opacity: 1;
        border-radius: 5px;
        margin: 20px 0px 123px 0px;
    }
    .services__card{
        background-color: #fff;
        padding: 60px 30px 51px 30px;
        margin-bottom: 20px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        text-align: center;
        img{
            width: 66px;
            height: 66px;
            margin-bottom: 23px;
        }
        h3{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 35px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #000;
            margin-bottom: 16px;
        }
        p{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #000;
        }
    }
}

/* Trajectory section */
.trajectory{
    padding: 148px 12px 0px 16px;
    h2{
        font-family: 'Zen Antique Soft';
        font-size: var(--titleFontSize);
        font-style: normal;
        font-weight: 400;
        line-height: 58px;
        color: var(--titleColor);
    }
    hr{
        width: 85px;
        outline: none;
        border: none;
        height: 5px;
        color: var(--mainColor);
        opacity: 1;
        border-radius: 5px;
        margin: 20px 0px 101px 0px;
    }
    .trajectory__card{
        background-color: var(--mainColor);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 103px 0px;
        margin-bottom: 20px;
        text-align: center;
        h2{
            font-family: var(--workSansFont);
            font-style: normal;
            font-weight: 300;
            font-size: 96px;
            line-height: 113px;
            text-align: center;
            letter-spacing: -0.02em;
        }
        p{
            font-family: var(--workSansFont);
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 35px;
            text-align: center;
            padding: 0px 64px;
        }
    }
}

/* contact section */
.contact{
    padding: 109px 0px 123px 0px;
    h4{
        font-family: 'Zen Antique Soft';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25em;
        line-height: 29px;
        text-align: center;
        letter-spacing: -0.02em;
        color: var(--titleColor);
        padding: 0px 35px;
    }
    hr{
        width: 180px;
        outline: none;
        border: none;
        height: 5px;
        color: var(--mainColor);
        opacity: 1;
        border-radius: 5px;
        margin: 16px auto 70px auto;
    }
    .contact__form{
        padding:0px 14px;
        input{
            width: 100%;
            margin-bottom: 20px;
            padding: 1em;
            border: 2px solid #9D9497;
            border-radius: 5px;

            font-family: var(--workSansFont);
            font-style: normal;
            font-weight: 300;
            font-size: var(--24FontSize);
            line-height: 28px;
            letter-spacing: -0.02em;
        }
        input[type="submit"]{
            margin: 0;
            padding: 10px;
            background-color: var(--mainColor);
            color: #000;
            border: none;
        }
        textarea{
            resize: none;
            width: 100%;
            min-height: 248px;
            margin-bottom: 20px;
            padding: 1.25em;
            border: 2px solid #9D9497;
            border-radius: 5px;

            font-family: var(--workSansFont);
            font-style: normal;
            font-weight: 300;
            font-size: var(--24FontSize);
            line-height: 28px;
            letter-spacing: -0.02em;
        }
    }
}

/* footer section */
footer{
    padding: 16px 16px 20px 16px;
    background-color: var(--mainColor);
    .top-footer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .social-media{

            label{
                font-family: var(--workSansFont);
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: -0.02em;
            }
            img{   
                margin-left: 15px;
            }
        }
    }
    hr{
        color: var(--titleColor);
        width: 100%;
        margin: 30px 0px 46px 0px;
    }
    h3{
        font-family: var(--workSansFont);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: var(--titleColor);
    }
    .contact-info{
        .contact-info__item{
            display: flex;
            width: 100%;
            margin: 25px 0px;
            align-items: center;
            img{
                margin-right: 18px;
            }
            h4{
                display: flex;
                width: 100%;
                margin-top: 7px;
                align-items: center;
                font-family: var(--workSansFont);
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: -0.02em;
                color: var(--titleColor);
            }
        }
        .contact-info__item:last-child{
            margin: 0;
        }
    }
}

/* Header */

header{
    position:absolute;
    top:0px;
    // background-image: linear-gradient( 90deg , rgb(181, 54, 128) 100px, rgb(81, 27, 111));
    // border-bottom: 4px solid rgb(48, 186, 153) ;
    background: rgba(157, 148, 151, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding: 16px 24px 16px 16px;
    width: 100%;
    // padding-right:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration:none;
}
.logo img{
    width: 150px;
    // transform: scaleX(-1);
}
.logo h1{
    color: rgb(212, 212, 212);
    display: inline-block;
}
.logo h1:hover{
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
    color: white;
}
.links{
width:250px;
}
.links div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a{
    text-decoration: none;
    color: rgb(212, 212, 212);
}
// .links a:hover{
//     text-shadow: 0px 0px 6px rgb(255, 255, 255);
//     color: white;
// }
header input{
display: none; 
}
header input:checked ~ .links{
right: 0px;
}
header input:checked ~ label .img1{
display: none;
}
header input:checked ~ label .img2{
    display: inline-block;
}
// header input:checked ~ label{
// // transform: rotate(720deg);
// }
header label{
    position: relative;
    display: none;
    right: 20px;
    width: 30px; 
    height: 47.619047px;
    transition: 1s ease;
    z-index: 30;
    .img2{
        position: fixed;
        // right: 4.65em;
    }
}

// header label , header label:before, header label:after{
//     // background-color:#009688;
//     // border-radius: 3px;
// }
// header label:before, header label:after {
//     content: "";
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     height: 100%;
//     width: 100%;
// }
// header label:before {
//     transform: rotate(60deg);
//     z-index: 3;
// }
// header label:after {
//     transform: rotate(-60deg);
//     z-index: 5;
// }
header label img{         
    position: absolute;
    top: 8.8px ;
    left: 0px;
    width: 100%;
    z-index: 6;
}
header label .img2{
    display: none;
}
@media (max-width: 700px)
{
    .links {
        position: fixed;
        top:0px;
        right:-100%;
        // background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height:100%;
        z-index: 20;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }
    
    .links div{
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: black;
        background-color: var(--mainColor);
        // width: 70%;
        width: 200px;
        height:100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-direction: column;
        z-index: 20;
        padding: 75px 0px;
    }
    .links div a{
        text-decoration: none;
        // color: rgb(212, 212, 212);
        // margin-top: 10px;
        // font-size: 25px;
        font-family: var(--workSansFont);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        padding: 26px;
        width: 100%;
    }
    .links div a:first-child{
        margin-top: 20px;
    }
    // .links div a:hover{
    //     text-shadow: 0px 0px 6px rgb(255, 255, 255);
    //     border: 2px solid black;
    //     color: white;
    // }
    header label{
        display: inline-block; 
    }
}

@media (min-width: 1500px)
{
    header{
        padding-right: 10%;
        padding-left: calc( 10% - 20px);
    }
}

@media (max-width: 440px)
{
    .logo img{
        width: 120px;
    }
    .logo h1{
        font-size:26px
    }
    header label{
        width: 25px; 
        height: 31.746px;
        i{
            font-size: 2em;
            color: #fff;
        }
    }
    header label img{         
        position: absolute;
        top: 5.867px;
    }
}
@media (max-width: 345px)
{
    .logo img{
        width: 100px;
    }
    .logo h1{
        font-size:24px
    }
    header label{
        width: 15px; 
        height: 23.809px;
    }
    header label img{         
        position: absolute;
        top: 5.867px;
    }
}

