*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainColor: #DF7539;
    --titleColor: #292929;
    --paragraphFontSize: 1em;
    --titleFontSize:2.5em;
    --36FontSize: 2.25em;
    --24FontSize: 1.5em;
    --30FontSize: 1.875em;
    --workSansFont: 'Work Sans', sans-serif;
    --zenAntiqueFont: 'Zen Antique Soft', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #ffffff;
}

/* Header */

header{
    position:absolute;
    top:0px;
    // background-image: linear-gradient( 90deg , rgb(181, 54, 128) 100px, rgb(81, 27, 111));
    // border-bottom: 4px solid rgb(48, 186, 153) ;
    background: rgba(157, 148, 151, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding: 16px 24px 16px 16px;
    width: 100%;
    // padding-right:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    z-index: 20;
    @media (min-width: 767px){
        padding: 16px 50px 16px 50px;
    }
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration:none;
}
.logo img{
    width: 150px;
    // transform: scaleX(-1);
}
.logo h1{
    color: rgb(212, 212, 212);
    display: inline-block;
}
.logo h1:hover{
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
    color: white;
}
.links{
    width:250px;
}
.links div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a{
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-family: var(--workSansFont);
}
// .links a:hover{
//     text-shadow: 0px 0px 6px rgb(255, 255, 255);
//     color: white;
// }
header input{
display: none; 
}
header input:checked ~ .links{
right: 0px;
}
header input:checked ~ label .img1{
display: none;
}
header input:checked ~ label .img2{
    display: inline-block;
}
// header input:checked ~ label{
// // transform: rotate(720deg);
// }
header label{
    position: relative;
    display: none;
    right: 20px;
    width: 30px; 
    height: 47.619047px;
    transition: 1s ease;
    z-index: 30;
    .img2{
        position: fixed;
        // right: 4.65em;
    }
}

header label{
    width: 25px; 
    height: 31.746px;
    i{
        font-size: 2em;
        color: #fff;
    }
}

// header label , header label:before, header label:after{
//     // background-color:#009688;
//     // border-radius: 3px;
// }
// header label:before, header label:after {
//     content: "";
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     height: 100%;
//     width: 100%;
// }
// header label:before {
//     transform: rotate(60deg);
//     z-index: 3;
// }
// header label:after {
//     transform: rotate(-60deg);
//     z-index: 5;
// }

header label img{         
    position: absolute;
    top: 8.8px ;
    left: 0px;
    width: 100%;
    z-index: 6;
}
header label .img2{
    display: none;
}
@media (max-width: 900px)
{
    .links {
        position: fixed;
        top:0px;
        right:-100%;
        // background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height:100%;
        z-index: 20;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }
    
    .links div{
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: black;
        background-color: var(--mainColor);
        // width: 70%;
        width: 200px;
        height:100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-direction: column;
        z-index: 20;
        padding: 75px 0px;
    }
    .links div a{
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.02em;
        padding: 26px;
        width: 100%;
    }
    .links div a:first-child{
        margin-top: 20px;
    }
    // .links div a:hover{
    //     text-shadow: 0px 0px 6px rgb(255, 255, 255);
    //     border: 2px solid black;
    //     color: white;
    // }
    header label{
        display: inline-block; 
    }
}

@media (max-width: 440px)
{
    .logo img{
        width: 120px;
    }
    .logo h1{
        font-size:26px
    }
    header label{
        width: 25px; 
        height: 31.746px;
        i{
            font-size: 2em;
            color: #fff;
        }
    }
    header label img{         
        position: absolute;
        top: 5.867px;
    }
}
@media (max-width: 345px)
{
    .logo img{
        width: 100px;
    }
    .logo h1{
        font-size:24px
    }
    header label{
        width: 15px; 
        height: 23.809px;
    }
    header label img{         
        position: absolute;
        top: 5.867px;
    }
}

@media (min-width: 1240px)
{
    header{

        justify-content: center;
        padding: 0;
        nav{

            padding: 16px 100px 16px 95px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-width: 1240px;
            max-width: 1440px;

            .links{
                width: auto;
                padding: 0;
                div{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    a{
                        margin-left: 50px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 23px;
                        letter-spacing: -0.02em;
                        color: #fff;
                        &:first-child{
                            margin: 0;
                        }
                    }
                  }  
            } 
        }
    }
}

@media (min-width: 1366px){
    header{

        justify-content: center;
        padding: 0;
        nav{

            padding: 16px 100px 16px 95px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-width: 1240px;
            max-width: 1440px;

            .links{
                width: auto;
                padding: 0;
                div{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    a{
                        margin-left: 50px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 23px;
                        letter-spacing: -0.02em;
                        color: #fff;
                        &:first-child{
                            margin: 0;
                        }
                    }
                  }  
            } 
        }
    }
}

/* Front section */
.front{

    height: 844px;
    // max-width: 428px;
    .carousel-item{
        img{

            width: 100%;
            height: 844px;
            object-fit: cover;
            z-index: -1;
        }
    }
    .front-container{
        width: 100%;
        position: absolute;
        z-index: 10;
        height: 844px;
        padding: 221px 26px 208px 26px;
        background-color: #0002;
        h1{
            color: #fff;
            font-size: var(--titleFontSize);
            font-family: var(--zenAntiqueFont);
            font-style: normal;
            font-weight: 400;
            line-height: 58px;
            letter-spacing: -0.02em;
            max-width: 300px;
        }
        hr{
            width: 200px;
            outline: none;
            border: none;
            height: 5px;
            color: var(--mainColor);
            border-radius: 5px;
            opacity: 1;
            margin: 21px 0px;
        }
        p{
            color: #fff;
            font-weight: 300;
            font-size: var(--paragraphFontSize);
            font-family: var(--workSansFont);
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.02em;
        }
        h3{
            color: #fff;
            margin: 44px 0px;
            font-size: var(--paragraphFontSize);
            font-family: var(--workSansFont);
            font-weight: 500;
            line-height: 24px;
        }
        a{
            border-radius: 50px;
            text-decoration: none;
            color: var(--titleColor);
            background-color: var(--mainColor);
            font-size: var(--24FontSize);
            padding: 15px 30px;
            font-family: 'Roboto', sans-serif;
            i{
                position: relative;
                top: 2px;
            }
        }
    }
    /* responsive tablet 834px o 767px */
    @media (min-width: 767px)
    {
        .front-container{
            position: absolute;
            z-index: 10;
            height: 844px;
            padding: 221px 26px 208px 60px;
            background-color: #0002;
            h1{
                font-size: 64px;
                line-height: 93px;
                max-width: 100%;
            }
            
            p{
                font-size: 30px;
                line-height: 35px;
            }
            h3{
                font-size: 30px;
                line-height: 35px;
            }
        }
    }

    @media (min-width: 1240px)
    {
        height: 886px;
        .carousel-item{
            img{
                // object-fit: none;
                width: 100%;
                height: 886px;
            }
        }
        .front-container{
            padding: 0;
            height: 886px;
            display: flex;
            width: 100%;
            justify-content: center;
            .front{
                width: 100%;
                min-width: 1240px;
                max-width: 1440px;
                height: 886px;
                padding: 221px 26px 208px 110px;
                h1{
                    font-size: 4em;
                    line-height: 93px;
                    max-width:694px;
                }
                p{
                    font-size: var(--24FontSize);
                    line-height: 28px;
                    max-width: 620px;
                }
                h3{
                    font-size: var(--24FontSize);
                    line-height: 28.15px;
                }
            }
        }
    }
    @media screen and (min-width: 1366px)
    {   
        // display: flex;
        // justify-content: center;
        height: 886px;
        .carousel-item{
            img{
                // object-fit: none;
                width: 100%;
                height: 886px;
            }
        }
        .front-container{
            padding: 0;
            height: 886px;
            display: flex;
            width: 100%;
            justify-content: center;
            .front{
                width: 100%;
                min-width: 1240px;
                max-width: 1440px;
                height: 886px;
                padding: 221px 26px 208px 110px;
                h1{
                    font-size: 4em;
                    line-height: 93px;
                    max-width:694px;
                }
                p{
                    font-size: var(--24FontSize);
                    line-height: 28px;
                    max-width: 620px;
                }
                h3{
                    font-size: var(--24FontSize);
                    line-height: 28.15px;
                }
            }
        }
    }
}

/* Foundress section */
.foundress{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 103px;
    img{
        width: 100%;
    }

    .foundress__detail{
        padding: 41px 25px 139px 16px;
        h2{
            font-size: var(--36FontSize);
            width: 100%;
            font-family: var(--zenAntiqueFont);
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 52px;
            letter-spacing: -0.02em;
            color: var(--titleColor);
        }
        hr{
            width: 85px;
            outline: none;
            border: none;
            height: 5px;
            color: var(--mainColor);
            opacity: 1;
            border-radius: 5px;
            margin: 31px 0px;
        }
        p{
            font-family: var(--workSansFont);
            font-size: var(--paragraphFontSize);
            line-height: 19px;
            letter-spacing: -0.02em;
        }
    }

    @media (min-width: 767px){
        .foundress__detail{
            padding: 94px 60px 89px 50px;
            h2{
                
                font-size: 60px;
                line-height: 87px;
            }
        }
    }
    @media (min-width: 1240px){
        
        justify-content: center;
        width: 100%;
        margin-bottom: 64px;
        .foundress__container{
            display: flex;
            flex-wrap: nowrap;
            min-width: 1240px;
            max-width: 1440px;
            width: 100%;
            img{
                width: 100%;
                width: 692px;
                height: 897px;
            }
            .foundress__detail{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                .foundress__content{
                    h2{
                        width: 100%;
                    }
                    hr{
                        width: 200px;
                    }
                    p{
                        width: 100%;
                        max-width: 610px;
                        font-size: var(--24FontSize);
                        line-height: 26px;
                    }
                }
            }
        }
    }

    @media (min-width: 1366px){
        
        justify-content: center;
        width: 100%;
        margin-bottom: 64px;
        .foundress__container{
            display: flex;
            flex-wrap: nowrap;
            min-width: 1240px;
            max-width: 1440px;
            width: 100%;
            img{
                width: 100%;
                width: 692px;
                height: 897px;
            }
            .foundress__detail{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                .foundress__content{
                    h2{
                        width: 100%;
                    }
                    hr{
                        width: 200px;
                    }
                    p{
                        width: 100%;
                        max-width: 610px;
                        font-size: var(--24FontSize);
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

/* Services section */
.services{
    background-color: var(--mainColor);
    padding: 71px 12px 81px 16px;
    h3{
        font-family: var(--zenAntiqueFont);
        font-style: normal;
        font-weight: 400;
        font-size: var(--24FontSize);
        line-height: 35px;
        letter-spacing: -0.02em;
        color: var(--titleColor)
    }
    hr{
        width: 85px;
        outline: none;
        border: none;
        height: 5px;
        color: #fff;
        opacity: 1;
        border-radius: 5px;
        margin: 20px 0px 123px 0px;
    }
    .card-container{

        .services__card{
            background-color: #fff;
            padding: 60px 30px 51px 30px;
            margin-bottom: 20px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            text-align: center;
            max-width: 400px;
            height: 400px;
            img{
                width: 66px;
                height: 66px;
                margin-bottom: 23px;
            }
            h3{
                font-family: var(--workSansFont);
                font-style: normal;
                font-weight: 300;
                font-size: 30px;
                line-height: 35px;
                text-align: center;
                letter-spacing: -0.02em;
                color: #000;
                margin-bottom: 16px;
            }
            p{
                font-family: var(--workSansFont);
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                letter-spacing: -0.02em;
                color: #000;
            }
        }
    }
    @media (min-width: 767px){
        padding: 71px 50px 81px 50px;
        h3{
            font-size: 40px;
            line-height: 58px;
        }
        .card-container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    @media (min-width:1240px)
    {
        display: flex;
        width: 100%;
        justify-content: center;
        .services__content{

            display: flex;
            flex-wrap: wrap;
            min-width: 1240px;
            max-width: 1440px;
            padding: 0px 100px;
            width: 100%;
            h3{
                width: 100%;
                font-size: 40px;
                line-height: 58px;
            }
            hr{
                width: 200px;
                margin: 20px 0px 101px 0px;
            }
            .card-container{
                width: 100%;
                justify-content: space-between;
                .services__card{
                    width: 334px;
                    height: 334px;
                    h3{
                        padding: 0px 70px;
                        font-size: 25.1129px;
                        line-height: 29px;
                    }
                    p{
                        font-size: 13.3935px;
                        line-height: 16px;
                        padding: 0px 20px;
                    }
                }
            }
        }
    }

    @media (min-width:1366px){
        
        .services__content{
            display: flex;
            flex-wrap: wrap;
            min-width: 1440px;
            max-width: 1440px;
            width: 100%;
            padding: 0px 100px;
            
            h3{
                width: 100%;
                font-size: 40px;
                line-height: 58px;
            }
            hr{
                width: 200px;
                margin: 20px 0px 101px 0px;
            }
            .card-container{
                width: 100%;
                justify-content: space-between;
                .services__card{
                    margin: 0;
                    max-width: 400px;
                    max-height: 400px;
                    width: 100%;
                    height: 100%;
                    // padding: 75px 52px 71px 52px;
                    h3{
                        padding: 0px 70px;
                        font-size: 30px;
                        line-height: 35px;
                    }
                    p{
                        font-size: var(--paragraphFontSize);
                        line-height: 19px;
                        padding: 0px 30px;
                    }
                }
            }
        }
    }        
}

/* Trajectory section */
.trajectory{
    padding: 148px 12px 102px 16px;
    h2{
        font-family: var(--zenAntiqueFont);
        font-size: var(--titleFontSize);
        font-style: normal;
        font-weight: 400;
        line-height: 58px;
        color: var(--titleColor);
    }
    hr{
        width: 85px;
        outline: none;
        border: none;
        height: 5px;
        color: var(--mainColor);
        opacity: 1;
        border-radius: 5px;
        margin: 20px 0px 101px 0px;
    }
    .card-container{
        .trajectory__card{
            background-color: var(--mainColor);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            // padding: 103px 0px;
            margin-bottom: 20px;
            text-align: center;
            max-width: 400px;
            height: 400px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            h2{
                font-family: var(--workSansFont);
                font-style: normal;
                font-weight: 300;
                font-size: 96px;
                line-height: 113px;
                text-align: center;
                letter-spacing: -0.02em;
                width: 100%;
            }
            p{
                font-family: var(--workSansFont);
                font-style: normal;
                font-weight: 300;
                font-size: 30px;
                line-height: 35px;
                text-align: center;
                padding: 0px 64px;
            }
        }
    }
    @media (min-width: 767px){
        padding: 148px 50px 102px 50px;
        h2{
            font-size: 40px;
            line-height: 58px;
        }
        .card-container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .trajectory__card{
                width: 400px;
            }
        }
    }
    @media (min-width: 1366px){
        display: flex;
        width: 100%;
        justify-content: center;
        .trayectory__content{
            display: flex;
            flex-wrap: wrap;
            min-width: 1240px;
            max-width: 1440px;
            width: 100%;
            padding: 0px 100px;
            h2{
                width: 100%;
                font-size: 40px;
                line-height: 58px;
            }
            hr{
                width: 200px;
            }
            .card-container{
                width: 100%;
                justify-content: space-between;
                .trajectory__card{
                    margin: 0;
                    p{
                        padding: 0px 100px;
                    }
                    .countries{
                        padding: 0px 55px;
                    }
                }
            }
        }
    }
}

/* customers section */

.customers{
    padding: 101px 0px 104px 16px;
    border-bottom: 10px solid var(--mainColor);
    border-top: 10px solid var(--mainColor);
    overflow-x: hidden;
    h2{
        font-family: var(--zenAntiqueFont);
        font-style: normal;
        font-weight: 400;
        font-size: var(--36FontSize);
        line-height: 52px;
        letter-spacing: -0.02em;
        color: var(--titleColor);
    }
    hr{
        width: 85px;
        outline: none;
        border: none;
        height: 5px;
        color: var(--mainColor);
        opacity: 1;
        border-radius: 5px;
        margin: 20px 0px 64px 0px;
    }
    .customersCarousel{

        .carousel__item{
            
            p{

                background-color: var(--mainColor);
                font-family: var(--workSansFont);
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.02em;
                border-radius: 5px 5px 0px 0px;
                padding: 0px 27px;
                width: 355px;
                height: 300px;
                display: flex;
                align-items: center;
            }
            img{
                position: relative;
                top: -17px;
                left: 20px;
            }
            h3{
                font-family: var(--workSansFont);
                font-style: normal;
                font-weight: 500;
                font-size: var(--30FontSize);
                line-height: 35px;
                color: var(--mainColor);
            }
        }
    }
    @media (min-width: 767px){
        padding: 101px 0px 104px 50px;
        h2{
            font-size: 40px;
            line-height: 58px;
        }
    }
    @media (min-width: 1366px){
        display: flex;
        width: 100%;
        justify-content: center;
        border-top: none;
        .customers__content{
            display: flex;
            flex-wrap: wrap;
            min-width: 1240px;
            max-width: 1440px;
            width: 100%;
            padding: 0px 100px;
            h2{
                width: 100%;
            }
            .customersCarousel{

                width: 100%;
                .carousel__item{
                    max-width: 500px;
                    p{
                        width: 400px;
                    }
                }
            }
        }
    }
}

/* contact section */
.contact{
    padding: 109px 0px 123px 0px;
    h4{
        font-family: var(--zenAntiqueFont);
        font-style: normal;
        font-weight: 400;
        font-size: 1.25em;
        line-height: 29px;
        text-align: center;
        letter-spacing: -0.02em;
        color: var(--titleColor);
        padding: 0px 35px;
    }
    hr{
        width: 180px;
        outline: none;
        border: none;
        height: 5px;
        color: var(--mainColor);
        opacity: 1;
        border-radius: 5px;
        margin: 16px auto 70px auto;
    }
    .contact__form{
        padding:0px 14px;
        input{
            width: 100%;
            margin-bottom: 20px;
            padding: 1em;
            border: 2px solid #9D9497;
            border-radius: 5px;

            font-family: var(--workSansFont);
            font-style: normal;
            font-weight: 300;
            font-size: var(--24FontSize);
            line-height: 28px;
            letter-spacing: -0.02em;
        }
        input[type="submit"]{
            margin: 0;
            padding: 10px;
            background-color: var(--mainColor);
            color: #000;
            border: none;
        }
        textarea{
            resize: none;
            width: 100%;
            min-height: 248px;
            margin-bottom: 20px;
            padding: 1.25em;
            border: 2px solid #9D9497;
            border-radius: 5px;

            font-family: var(--workSansFont);
            font-style: normal;
            font-weight: 300;
            font-size: var(--24FontSize);
            line-height: 28px;
            letter-spacing: -0.02em;
        }
    }
    @media (min-width: 767px){
        h4{
            font-size: 32px;
            line-height: 46px;
            padding: 0px 172px;
        }
        .contact__form{
            padding: 0px 50px;
        }
    }
    @media (min-width: 1240px){

        h4{
            max-width: 580px;
            padding: 0px 50px;
            margin: 0px auto;
            font-size: 2em;
            line-height: 46px;
        }
        .contact__form{
            max-width: 820px;
            padding: 0;
            margin: 0px auto;
            display: flex;
            width: 100%;
            input{
                max-width: 400px;
                &:nth-child(1){
                    margin-right: 15px;
                }
                &:nth-child(3){
                    margin-right: 15px;
                }
            }
            input[type="submit"]{
                width: 100%;
                max-width: 820px;
            }
        }
    }
    @media (min-width: 1366px){

        h4{
            max-width: 580px;
            padding: 0px 50px;
            margin: 0px auto;
            font-size: 2em;
            line-height: 46px;
        }
        .contact__form{
            max-width: 820px;
            padding: 0;
            margin: 0px auto;
            display: flex;
            width: 100%;
            input{
                max-width: 400px;
                &:nth-child(1){
                    margin-right: 15px;
                }
                &:nth-child(3){
                    margin-right: 15px;
                }
            }
            input[type="submit"]{
                width: 100%;
                max-width: 820px;
            }
        }
    }
}

/* footer section */
footer{
    padding: 16px 16px 20px 16px;
    background-color: var(--mainColor);
    .top-footer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .social-media{

            label{
                font-family: var(--workSansFont);
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: -0.02em;
            }
            img{   
                margin-left: 15px;
            }
        }
    }
    hr{
        color: var(--titleColor);
        width: 100%;
        margin: 30px 0px 46px 0px;
    }
    h3{
        font-family: var(--workSansFont);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: var(--titleColor);
    }
    .contact-info{
        .contact-info__item{
            display: flex;
            width: 100%;
            margin: 25px 0px;
            align-items: center;
            img{
                margin-right: 18px;
            }
            h4{
                display: flex;
                width: 100%;
                margin-top: 7px;
                align-items: center;
                font-family: var(--workSansFont);
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: -0.02em;
                color: var(--titleColor);
            }
        }
        .contact-info__item:last-child{
            margin: 0;
        }
    }
    @media (min-width: 767px){
        padding: 16px 50px 20px 50px;
    }
    @media (min-width: 1240px){
        padding: 0;
        .footer__container{

            padding: 60px 100px 60px 100px;
            min-width: 1240px;
            max-width: 1440px;
            width: 100%;
            margin: 0px auto;
            .top-footer{
                
                .social-media{
        
                    label{
                        font-size: var(--24FontSize);
                        line-height: 28px;
                    }
                    img{   
                        margin-left: 15px;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        top: -5px;
                    }
                }
            }
            h3{
                font-size: var(--24FontSize);
                line-height: 26px;
            }
            .contact-info{
                .contact-info__item{
                    img{
                        margin-right: 49px;
                    }
                    h4{
                        font-size: var(--24FontSize);
                        line-height: 28px;
                    }
                }
            }
        }
    }

    @media (min-width: 1366px){
        padding: 0;
        .footer__container{

            padding: 60px 100px 60px 100px;
            min-width: 1240px;
            max-width: 1440px;
            width: 100%;
            margin: 0px auto;
            .top-footer{
                
                .social-media{
        
                    label{
                        font-size: var(--24FontSize);
                        line-height: 28px;
                    }
                    img{   
                        margin-left: 15px;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        top: -5px;
                    }
                }
            }
            h3{
                font-size: var(--24FontSize);
                line-height: 26px;
            }
            .contact-info{
                .contact-info__item{
                    img{
                        margin-right: 49px;
                    }
                    h4{
                        font-size: var(--24FontSize);
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

/* tablet responsive notes */
/* starts at 767px and works fine up to 899px */

